<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="HAT2K"
        android:supportsRtl="true"
        android:theme="@style/Theme.TryAgain"
        tools:targetApi="31">
        <activity
            android:name=".User_Bank_Information"
            android:exported="false" />
        <activity
            android:name=".Bank_User"
            android:exported="false" />
        <activity
            android:name=".Add_Banks_Activity"
            android:exported="false" />
        <activity
            android:name=".Bank_Activity"
            android:exported="false" />
        <activity
            android:name=".Add_User_Information"
            android:exported="false" />
        <activity
            android:name=".Edit_User_Infor_Activity"
            android:exported="false" />
        <activity
            android:name=".End_Process_Activity"
            android:exported="false" />
        <activity
            android:name=".History_Parent_Activity"
            android:exported="false" />
        <activity
            android:name=".Payment_Activity"
            android:exported="false" />
        <activity
            android:name=".SearchProduct"
            android:exported="false" />
        <activity
            android:name=".Detail_Activity"
            android:exported="false" />
        <activity
            android:name=".Cart_Activity"
            android:exported="false" />
        <activity
            android:name=".Product_Page"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".User_Information"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>